<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>

	<h1>Helo ${userName}</h1>
	<br />
	<h3>Your product</h3>
	<table>
		<tr>
			<th>ID</th>
			<th>NAME</th>
		</tr>
		#foreach ($product in $products)
			#if ($product.id==1)
				<tr>
				  <td><a href="http://www.google.com">$product.id</a></td>
				  <td>$product.name</td>
				</tr>
			#elseif ($product.id==2)
				<tr>
				  <td><a href="http://www.facebook.com">$product.id</a></td>
				  <td>$product.name</td>
				</tr>
			#else
				<tr>
				  <td><a href="http://www.skype.com">$product.id</a></td>
				  <td>$product.name</td>
				</tr>
			#end
		#end
	</table>

</body>
</html>