<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2010. Axon Framework ~ ~ Licensed under the Apache License, 
	Version 2.0 (the "License"); ~ you may not use this file except in compliance 
	with the License. ~ You may obtain a copy of the License at ~ ~ http://www.apache.org/licenses/LICENSE-2.0 
	~ ~ Unless required by applicable law or agreed to in writing, software ~ 
	distributed under the License is distributed on an "AS IS" BASIS, ~ WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. ~ See the 
	License for the specific language governing permissions and ~ limitations 
	under the License. -->

<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
	<persistence-unit name="sakila_unit" transaction-type="JTA">
	
		<class>com.spring.core9$16.data.sakila.Actor</class>
		<class>com.spring.core9$16.data.sakila.ActorInfo</class>
		<class>com.spring.core9$16.data.sakila.ActorInfoId</class>
		<class>com.spring.core9$16.data.sakila.Address</class>
		<class>com.spring.core9$16.data.sakila.Category</class>
		<class>com.spring.core9$16.data.sakila.City</class>
		<class>com.spring.core9$16.data.sakila.Country</class>
		<class>com.spring.core9$16.data.sakila.Customer</class>
		<class>com.spring.core9$16.data.sakila.CustomerList</class>
		<class>com.spring.core9$16.data.sakila.CustomerListId</class>
		<class>com.spring.core9$16.data.sakila.Film</class>
		<class>com.spring.core9$16.data.sakila.FilmActor</class>
		<class>com.spring.core9$16.data.sakila.FilmActorId</class>
		<class>com.spring.core9$16.data.sakila.FilmCategory</class>
		<class>com.spring.core9$16.data.sakila.FilmCategoryId</class>
		<class>com.spring.core9$16.data.sakila.FilmList</class>
		<class>com.spring.core9$16.data.sakila.FilmListId</class>
		<class>com.spring.core9$16.data.sakila.FilmText</class>
		<class>com.spring.core9$16.data.sakila.Inventory</class>
		<class>com.spring.core9$16.data.sakila.Language</class>
		<class>com.spring.core9$16.data.sakila.NicerButSlowerFilmList</class>
		<class>com.spring.core9$16.data.sakila.NicerButSlowerFilmListId</class>
		<class>com.spring.core9$16.data.sakila.Payment</class>
		<class>com.spring.core9$16.data.sakila.Rental</class>
		<class>com.spring.core9$16.data.sakila.SalesByFilmCategory</class>
		<class>com.spring.core9$16.data.sakila.SalesByFilmCategoryId</class>
		<class>com.spring.core9$16.data.sakila.SalesByStore</class>
		<class>com.spring.core9$16.data.sakila.SalesByStoreId</class>
		<class>com.spring.core9$16.data.sakila.Staff</class>
		<class>com.spring.core9$16.data.sakila.StaffList</class>
		<class>com.spring.core9$16.data.sakila.StaffListId</class>
		<class>com.spring.core9$16.data.sakila.Store</class>

		<properties>
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.format_sql" value="false" />
			<property name="hibernate.transaction.manager_lookup_class"
				value="org.hibernate.transaction.JBossTSStandaloneTransactionManagerLookup" />
		</properties>
	</persistence-unit>
</persistence>